
html{
    background-color: rgb(211, 205, 205);
}

h1{
    
    text-align: center;
    font-family: cursive;
    color: rgb(236, 25, 155);
}
.greenColor{
    background-color: rgba(136, 233, 141, 0.781);
}
.orangeColor{
    background-color: hsl(16, 72%, 65%);

}
.redColor{
    background-color: rgb(214, 97, 97);
}
.perpulColor{
    background-color: rgb(211, 134, 211);
}
.aquaColor{
    background-color: rgb(91, 207, 207);
}
.blueColor{
    background-color: rgb(86, 86, 223);
}
table{
    text-align: center;
    width: 50%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 100px;
    border: rgb(231, 68, 223) solid;
    border-radius: 40px; 
    padding: 25px;
    background-color: white;
}
body{
    
    text-align: center;
}
th{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: white;
    color: rgb(3, 3, 3);
    font-size: x-large;
}
td{
    background-color: coral;
    color: rgb(3, 0, 0);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: larger;
    border: black solid;
    border-radius: 15px;
}